@import "utils";
@import "fonts";
@import "typography";
@import "./blocks/header.scss";
@import "./blocks/exhibitions.scss";
@import "./blocks/events.scss";
@import "./blocks/visit.scss";
@import "./blocks/news.scss";
@import "./blocks/digest.scss";
@import "./blocks/footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main {
  background-color: #f1f5f4;
}
